.container{
    display: flex;
    position: relative;
    flex-direction: row;
    gap: 10px;
    width:150px;
    align-items: center;
    justify-content: space-around;
}

.radioItem {
    display: inline-block;
    position: relative;
}

.radioItem input[type='radio'] {
    display: none;
}

.radioItem label:before {
    content: " ";
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    border: 2px solid #4D9AC3 !important;
    background-color: transparent;
}

.radioItem input[type=radio]:checked + label:after {
    border-radius: 11px;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 4px;
    left: 4px;
    content: " ";
    display: block;
    border: 2px solid #4D9AC3 !important;
    background: #4D9AC3 !important;
}

.radioLabel{
    width: 50px;
    height: 21px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height, or 131% */

    display: flex;
    align-items: center;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}
