.fileInput {
    position: relative;
}

.input {
    position: relative;
    width: 233px;
    height: 60px;
    top: 0px;
    left: 0px;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}

.uploadButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;

    position: absolute;
    width: 233px;
    height: 60px;
    top: 0px;
    left: 0px;
    background: #62A1EB;
    border-radius: 8px;
    z-index: 1;
    color: #FFFFFF;

    font-size: 1.1rem;
    cursor: pointer;

    border: none;
    outline: none;

    transition: background-color 0.4s;
}

.input:hover + button {
    background-color: #1A5DAB;
}


