.button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 18px 60px;
    gap: 20px;

    position: absolute;
    width: 387px;
    height: 60px;
    left: calc(50% - 387px / 2 - 0.5px);
    background: #62A1EB;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.text {
    width: 223px;
    height: 24px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

@media screen and (max-width: 390px) {
    .button {
        width: 358px;
        left: calc(50% - 358px / 2);
    }
}

