.userForm {
    position: relative;
    width: 1920px;
    height: 1327px;
    background: #F7F7F7;
}

.nav {
    position: absolute;
    display: flex;
    gap: 100px;
    top: 75px;
    left:685px;
}
.line {
    position: absolute;
    width: 185px;
    height: 0px;
    left: 690px;
    top: 130px;

    border-bottom: 2px solid #000000;
}

.form {
    position: absolute;
    height: 710px;
    left: 347px;
    right: 347px;
    top: 157px;
    padding: 100px 150px;
    background: #FFFFFF;
    border-radius: 18px;
}

.userInfo {
    display: flex;
    flex-direction: row;
    position: relative;
    max-width: 100%;
    height: 100vh;
}


.team{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;

    position: absolute;
    width: 926px;
    height: 76px;
    left: calc(50% - 926px/2);
    top: 258px;
}
.selectTeam {
    width: 878px;
    height: 60px;

    background: #EBEBEB;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    border: none;
}

.selectTeams{
    position: absolute;
    height: 21px;
    left: 16px;
    right: 83px;
    top: calc(50% - 21px/2 - 0.5px);

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height, or 117% */

    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    background-color: white;
    color: #000000;
}

.position {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;

    position: absolute;
    width: 926px;
    height: 76px;
    left: calc(50% - 926px/2);
    top: 371px;

}
.selectPosition {
    width: 878px;
    height: 60px;

    background: #EBEBEB;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    border:none;
}

.selectPositions{
    position: absolute;
    height: 21px;
    left: 16px;
    right: 83px;
    top: calc(50% - 21px/2 - 0.5px);

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height, or 117% */
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    background-color: white;
    color: #000000;
}

.pages{
    display: none;
}

@media screen and (max-width: 390px) {
    .userForm {
        position: relative;
        width: 390px;
        height: 1003px;

        background: #F7F7F7;
    }

    .nav {
        position: absolute;
        width: 200px;
        height: 50px;
        left: calc(50% - 179px/2 - 0.5px);
        top: 25px;
        margin: 0px;

        font-family: 'Helvetica Neue';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        /* identical to box height */
        display: flex;
        flex-direction: column;
        text-align: center;

        /* შავი/700 */

        color: #232323;
    }
    .pages{
        display: inline-block;
        position: absolute;
        width: 21px;
        height: 17px;
        left: 84px;
        top: 40px;
        margin: 0px;
        font-family: 'Helvetica Neue';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */

        text-align: center;

        color: #898989;
    }
    .laptopHide{
        display: none;
    }
    .line {
        display: none;
    }

    .form {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 100px;
        bottom: 0px;

        background: #FFFFFF;
        border-radius: 12px 12px 0px 0px;
    }

    .userInfo {
        display: block;
        position: absolute;
        top:0px;
        left:0px
    }

    .userName {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
        gap: 8px;

        position: relative;
        height: 134px;
        left: -8px;
        right: -8px;
        top: 0px;
    }
    .name {
        width: 358px;
        height: 21px;

        font-family: 'Helvetica Neue';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        /* identical to box height, or 117% */

        display: flex;
        align-items: center;

        color: #000000;


        /* Inside auto layout */

        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
    }
    .nameInput{
        box-sizing: border-box;

        width: 358px;
        height: 60px;

        /* ლურჯი/400 */

        border: 1.8px solid #8AC0E2;
        border-radius: 8px;

        /* Inside auto layout */

        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
    }
    .nameInput[type=text] {
        left: 16px;
        right: 16px;
        top: calc(50% - 21px/2 - 0.5px);

        font-family: 'Helvetica Neue';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        /* identical to box height, or 131% */

        display: flex;
        align-items: center;

        color: rgba(0, 0, 0, 0.6);
    }
    .nameHint{
        width: 358px;
        height: 21px;

        font-family: 'Helvetica Neue';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
        /* identical to box height, or 150% */

        display: flex;
        align-items: center;

        /* შავი/500 */

        color: #2E2E2E;


        /* Inside auto layout */

        flex: none;
        order: 2;
        align-self: stretch;
        flex-grow: 0;
    }

    .userSurname {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
        gap: 8px;

        position: relative;
        height: 134px;
        left: -8px;
        right: -8px;
        top: 0px;
    }

    .surname{
        width: 358px;
        height: 21px;

        font-family: 'Helvetica Neue';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        /* identical to box height, or 117% */

        display: flex;
        align-items: center;

        color: #000000;


        /* Inside auto layout */

        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
    }

    .surnameInput{
        box-sizing: border-box;

        width: 358px;
        height: 60px;

        /* ლურჯი/400 */

        border: 1.8px solid #8AC0E2;
        border-radius: 8px;

        /* Inside auto layout */

        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
    }

    .surnameInput[type=text]{
        left: 16px;
        right: 16px;
        top: calc(50% - 21px/2 - 0.5px);

        font-family: 'Helvetica Neue';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        /* identical to box height, or 131% */

        display: flex;
        align-items: center;

        color: rgba(0, 0, 0, 0.6);
    }

    .surnameHint {
        width: 358px;
        height: 21px;

        font-family: 'Helvetica Neue';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
        /* identical to box height, or 150% */

        display: flex;
        align-items: center;

        /* შავი/500 */

        color: #2E2E2E;


        /* Inside auto layout */

        flex: none;
        order: 2;
        align-self: stretch;
        flex-grow: 0;
    }

    .team{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;

        position: absolute;
        height: 76px;
        left: -8px;
        right: -8px;
        top: 299px;

    }
    .selectTeam {
        width: 358px;
        height: 60px;

        background: #EBEBEB;
        border-radius: 8px;

        /* Inside auto layout */

        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
    }

    .position {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;

        position: absolute;
        height: 76px;
        left: -8px;
        right: -8px;
        top: 405px;
    }
    .selectPosition {
        width: 358px;
        height: 60px;

        background: #EBEBEB;
        border-radius: 8px;

        /* Inside auto layout */

        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
    }

    .email{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
        gap: 8px;

        position: absolute;
        width: 406px;
        height: 134px;
        left: calc(50% - 406px/2);
        top: 490px;
    }
    .emailLabel{
        width: 358px;
        height: 21px;

        font-family: 'Helvetica Neue';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        /* identical to box height, or 117% */

        display: flex;
        align-items: center;

        color: #000000;


        /* Inside auto layout */

        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
    }

    .emailInput{
        box-sizing: border-box;

        width: 358px;
        height: 60px;

        /* ლურჯი/400 */

        border: 1.8px solid #8AC0E2;
        border-radius: 8px;

        /* Inside auto layout */

        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
    }
    .emailInput[type=text]{
        left: 16px;
        right: 16px;
        top: calc(50% - 21px/2 - 0.5px);

        font-family: 'Helvetica Neue';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        /* identical to box height, or 131% */

        display: flex;
        align-items: center;

        color: rgba(0, 0, 0, 0.6);
    }

    .emailHint{
        width: 358px;
        height: 21px;

        font-family: 'Helvetica Neue';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
        /* identical to box height, or 150% */

        display: flex;
        align-items: center;

        /* შავი/500 */

        color: #2E2E2E;


        /* Inside auto layout */

        flex: none;
        order: 2;
        align-self: stretch;
        flex-grow: 0;
    }

    .phone {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
        gap: 8px;

        position: absolute;
        height: 134px;
        left: -8px;
        right: -8px;
        top: 630px;
    }

    .phoneLabel{
        width: 358px;
        height: 21px;

        font-family: 'Helvetica Neue';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        /* identical to box height, or 117% */

        display: flex;
        align-items: center;

        color: #000000;


        /* Inside auto layout */

        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
    }

    .phoneInput{
        box-sizing: border-box;

        width: 358px;
        height: 60px;

        /* ლურჯი/400 */

        border: 1.8px solid #8AC0E2;
        border-radius: 8px;

        /* Inside auto layout */

        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
    }
    .phoneInput[type=text]{
        left: 16px;
        right: 16px;
        top: calc(50% - 21px/2 - 0.5px);

        font-family: 'Helvetica Neue';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        /* identical to box height, or 131% */

        display: flex;
        align-items: center;

        color: rgba(0, 0, 0, 0.6);
    }
    .phoneHint {
        width: 358px;
        height: 21px;

        font-family: 'Helvetica Neue';
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 21px;
        /* identical to box height, or 150% */

        display: flex;
        align-items: center;

        /* შავი/500 */

        color: #2E2E2E;


        /* Inside auto layout */

        flex: none;
        order: 2;
        align-self: stretch;
        flex-grow: 0;
    }

}