.laptopForm {
    position: relative;
    width: 1920px;
    height: 1921px;

    background: #F7F7F7;
}

.nav {
    position: absolute;
    display: flex;
    gap: 100px;
    top: 75px;
    left: 685px;
}

.pages {
    display: none;
}

.line {
    position: absolute;
    width: 263px;
    height: 0px;
    left: 973px;
    top: 130px;

    border-bottom: 2px solid #000000;
}

.form {
    position: absolute;
    height: 1290px;
    left: 347px;
    right: 347px;
    top: 157px;
    padding: 100px 150px;
    background: #FFFFFF;
    border-radius: 18px;
}

.img {
    position: absolute;
    height: 423px;
    left: 174px;
    right: 174px;
    top: 68px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    position: relative;
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    top: -40px
}

.fileInfo {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 870px;
    height: 60px;
    top:410px;
    left: 0px
}

.size{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #5F5F5F;
}

.laptopBrand {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;

    position: absolute;
    width: 456px;
    height: 76px;
    left: calc(50% - 456px / 2 + 235px);
    top: 563px;
}

.selectLaptopBrand {

    width: 408px;
    height: 60px;

    background: #EBEBEB;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    border: none;
}

.selectLaptopBrands {
    position: absolute;
    height: 21px;
    left: 16px;
    right: 83px;
    top: calc(50% - 21px / 2 - 0.5px);

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height, or 117% */

    display: flex;
    align-items: center;
    letter-spacing: 0.04em;

    color: #000000;
}

.line1 {
    position: absolute;
    height: 0px;
    left: 174px;
    right: 174px;
    top: 711px;

    /* შავი/200 */

    border: 1px solid #C7C7C7;
}

.cpu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;

    position: absolute;
    width: 325px;
    height: 76px;
    left: calc(50% - 325px / 2 - 300.5px);
    top: 782px;
}

.selectCpu {
    width: 277px;
    height: 60px;

    background: #EBEBEB;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    border: none;
}

.selectCpus {
    position: absolute;
    height: 21px;
    left: 16px;
    right: 83px;
    top: calc(50% - 21px / 2 - 0.5px);

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height, or 117% */

    display: flex;
    align-items: center;
    letter-spacing: 0.04em;

    color: #000000;
}


.hdContainer {
    position: absolute;
    top: 925px;
    left: 650px;
    width: 300px;
    height: 100px;
}

.hdType {
    position: relative;
    width: 163px;
    height: 21px;
    left: 0px;
    top: 0px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height, or 117% */

    display: flex;
    align-items: center;

    color: #000000;
}

.radioLabel {
    display: flex;
    flex-direction: row;
}

.line2 {
    position: absolute;
    height: 0px;
    left: 174px;
    right: 174px;
    top: 1098px;

    /* შავი/200 */

    border: 1px solid #C7C7C7;
}

.condition {
    position: absolute;
    top: 1300px;
    left: 170px;
    width: 300px;
    height: 100px;
}

.conditionLabel {
    position: relative;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height, or 117% */

    display: flex;
    align-items: center;

    color: #000000;
}

.btnBack {
    position: absolute;
    width: 45px;
    height: 21px;
    left: 174px;
    top: 1417px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height, or 117% */

    display: flex;
    align-items: center;
    letter-spacing: 0.08em;
    color: #62A1EB;
    cursor: pointer;
}

@media screen and (max-width: 390px){
    .condition{
        position: relative;
        width: 390px;
        height: 1811px;
        background: #F7F7F7;
    }
    .laptopHide {
        display: none;
    }
    .line {
        display: none;
    }
    .nav {
        position: absolute;
        display: flex;
        gap: 100px;
        top: 25px;
        left: 60px;
        font-family: 'Helvetica Neue';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        /* identical to box height */
        display: flex;
        flex-direction: column;
        text-align: center;

        /* შავი/700 */

        color: #232323;
    }

    .form {
        display: inline-block;
        position: absolute;
        width: 21px;
        height: 1700px;
        left:0px;
        top: 100px;
        margin: 0px;
        font-family: 'Helvetica Neue';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */

        text-align: center;

        color: #898989;
    }

    .img {
        position: absolute;
        width: 380px;
        height: 423px;
        left: 0px;
        right: 174px;
        top: 68px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image {
        position: relative;
        display: block;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
        height: auto;
        top: -40px;
        border: 1px solid red;
    }
}