.container {
    box-sizing: border-box;
    position: relative;
    width: 563px;
    height: 205px;
    left: 100px;
    top: 197px;
    background: #EAFAFF;
    /* ლურჯი/300 */

    border: 1px solid #AED1EA;
    border-radius: 20px;
    display: flex;
    flex: 0 0 40%;
}

.img {
    position: relative;
    width: 266px;
    left: 14px;
    top: 14px;
    bottom: 13px;

    /*background: url(.jpg), #D9D9D9;*/
    border-radius: 10px;
}

.name {
    position: relative;
    width: 178px;
    height: 21px;
    left: 308px;
    top: 25px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height, or 117% */

    display: flex;
    align-items: center;

    /* შავი/500 */

    color: #2E2E2E;
}

.laptopName {
    position: relative;
    width: 81px;
    height: 21px;
    left: 308px;
    top: 25px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height, or 117% */

    display: flex;
    align-items: center;

    /* შავი/500 */

    color: #2E2E2E;
}

@media screen and (max-width: 390px){
    .container {
        box-sizing: border-box;
        position: relative;
        height: 123px;
        left: -60px;
        right: 16px;
        top: 0px;
        display: block;
        flex: 0 0 100%;
        background: #EAFAFF;
        /* ლურჯი/300 */

        border: 1px solid #AED1EA;
        border-radius: 10px;
    }

    .img {
        position: absolute;
        width: 164px;
        left: 7px;
        top: 7px;
        bottom: 7px;

        /*background: url(.jpg), #D9D9D9;*/
        border-radius: 6px;
    }

    .name {
        position: absolute;
        width: 139px;
        height: 21px;
        left: 140px;
        top: 0px;

        font-family: 'Helvetica Neue';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        /* identical to box height, or 150% */

        display: flex;
        align-items: center;

        /* შავი/500 */

        color: #2E2E2E;
    }
    .laptopName{
        position: absolute;
        width: 81px;
        height: 21px;
        left: 140px;
        top: 25px;

        font-family: 'Helvetica Neue';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        /* identical to box height, or 117% */

        display: flex;
        align-items: center;

        /* შავი/500 */

        color: #2E2E2E;
    }
}
