.container {
    position: relative;
    width: 1920px;
    height: 1207px;
    margin: auto;
    background: #FFFFFF;
}

.header {
    position: absolute;
    width: 309px;
    height: 21px;
    left: 806px;
    top: 76px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 21px;
    /* identical to box height, or 62% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

@media screen and (max-width: 390px) {
    .container{
        position: relative;
        width: 390px;
        height: 844px;

        background: #FFFFFF;
    }
   .header{
       position: absolute;
       width: 146px;
       height: 20px;
       left: calc(50% - 146px/2 - 1px);
       top: 31px;

       font-family: 'Helvetica Neue';
       font-style: normal;
       font-weight: 700;
       font-size: 16px;
       line-height: 20px;
       /* identical to box height */

       text-align: center;

       /* შავი/700 */

       color: #232323;
   }
}
