.container{
    box-sizing: border-box;

    position: absolute;
    height: 423px;
    left: 174px;
    right: 174px;
    top: 68px;

    background: #F7F7F7;
    /* ლურჯი/700 */

    border: 2px dashed #4386A9;
    border-radius: 18px;
}

.fileInput{
    position: relative;
    margin-bottom: 1.5rem;
}

.input {
    position:relative;
    width: 233px;
    height: 60px;
    left: calc(50% - 233px/2 - 0.5px);
    top: 316px;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}

.uploadButton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 18px 60px;
    gap: 20px;

    position: absolute;
    width: 233px;
    height: 60px;
    left: calc(50% - 233px/2 - 0.5px);
    top: 316px;

    background: #62A1EB;
    border-radius: 8px;
    z-index: 1;
    color: #FFFFFF;

    font-size: 1.1rem;
    cursor: pointer;

    border:none;
    outline: none;

    transition: background-color 0.4s;
}