.container{
    position: absolute;
    top:0px;
    left: 0px;
    width: 1900px;
    height: 1200px;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}
